*{
    box-sizing: border-box;
    margin: 0;
}

html, body, h1, p, button{
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}

:root{
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%)
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--White);
    position: relative;
    z-index: 1;
}

.mockups{
    position: absolute;
    right: -10%;
    top: -7%;
}

.btn-gradient{
    color: var(--White);
    background: linear-gradient(to right,var(--Lime-Green), var(--Bright-Cyan));
    border: none;
    padding: 0.85rem 1.85rem;
    margin: 0.85rem 0;
    border-radius: 100px;
    font-size: 0.85rem;
    font-weight: 700;
    cursor: pointer;
}

.nav{
    display: flex;
    height: 4.4rem;
}

.nav-link{
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
}

.nav-link:hover{
    text-align:center;
    background: linear-gradient(to right,var(--Lime-Green), var(--Bright-Cyan))
      left 
      bottom
      var(--White)    
      no-repeat; 
    background-size:100% 5px;
}

.nav-link:hover a{
    color: var(--Dark-Blue);
}

.nav-link a{
    color: var(--Grayish-Blue);
    text-decoration: none;
    font-size: 0.85rem;
    background-color: var(--White);
}

.btn-gradient:hover{
    opacity: 0.7;
}

.container-introduction{
    background-color: var(--Very-Light-Gray);
    padding: 10rem 6rem;
    z-index: -1;
    position: relative;
    overflow: hidden;
}

.container-introduction .text{
    max-width: 23rem;
}

.container-introduction .text h1{
    font-size: 2.85rem;
    font-weight: 300;
    color: var(--Dark-Blue);
}

.container-introduction .text p{
    color: var(--Grayish-Blue);
    padding: 1.5rem 0;
    line-height: 24px;
    font-size: 0.9rem;
}

.container-introduction img{
    position: absolute;
    top: -39%;
    right: -33%;
    z-index: -3;
}

.container-benefits{
    background-color: var(--Light-Grayish-Blue);
    padding: 6rem;
}

.container-benefits h2{
    font-size: 2.3rem;
    font-weight: 300;
    color: var(--Dark-Blue);
    margin-bottom: 2rem;
}

.container-benefits p{
    color: var(--Grayish-Blue);
    line-height: 24px;
    font-size: 0.9rem;
}

.container-benefits .col img{
    width: 4rem;
    margin: 1.8rem 0;
}

.container-benefits .col h6{
    font-size: 1.15rem;;
    font-weight: 400;
    color: var(--Dark-Blue);
    padding-bottom: 1rem;
}

.col{
    padding-right: 1rem;
    margin-top: 2rem;
}

.row{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.container-articles{
    background-color: var(--Very-Light-Gray);
    padding: 6rem;
}

.container-articles .col img{
    height: 10rem;
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.container-articles h2{
    font-size: 2.3rem;
    font-weight: 300;
    color: var(--Dark-Blue);
    margin-bottom: 2rem;
}

.card{
    background-color: var(--White)
}

.autor{
    color: var(--Grayish-Blue);
    font-size: 0.5rem;
    padding: 0.5rem 1.5rem;
    margin-top: 0.5rem;
}

.title-articles{
    padding: 0 1.5rem;
}

.title-articles a{
    color: var(--Dark-Blue);
    text-decoration: none;
    font-size: 0.9rem;
}

.title-articles a:hover{
    color: var(--Lime-Green);
    text-decoration: none;
}

.text-articles{
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
    color: var(--Grayish-Blue);
    font-size: 0.7rem;
}