@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

 body{
    font-family: 'Public Sans', sans-serif;
    font-size: 100%;
    overflow-x: hidden;
}

:root{
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%)
}

.navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: var(--White);
    position: relative;
    z-index: 1;
}

.navigation-bar-image{
    max-width: 100%;
}

.navigation-bar-menu{
    display: flex;
    height: 4.4rem;
}

.navigation-bar-menu-link{
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
}

.navigation-bar-menu-link:hover{
    text-align:center;
    background: linear-gradient(to right,var(--Lime-Green), var(--Bright-Cyan))
      left 
      bottom
      var(--White)    
      no-repeat; 
    background-size:100% 5px;
}

.navigation-bar-menu-link-anchor{
    color: var(--Grayish-Blue);
    text-decoration: none;
    font-size: 0.85rem;
    background-color: var(--White);
}

.navigation-bar-menu-link:hover .navigation-bar-menu-link-anchor{
    color: var(--Dark-Blue);
}

.navigation-bar-button{
    color: var(--White);
    background: linear-gradient(to right,var(--Lime-Green), var(--Bright-Cyan));
    border: none;
    padding: 0.85rem 1.85rem;
    margin: 0.85rem 0;
    border-radius: 100px;
    font-size: 0.85rem;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Public Sans', sans-serif;
}

.navigation-bar-button:hover{
    opacity: 0.7;
}

.navigation-bar-hamburguer{
    display: none;
    margin: 0.85rem 0;
    background-color: var(--White);
    border: none;
}

.content-introduction{
    background-color: var(--Very-Light-Gray);
    padding: 10rem 6rem;
    z-index: 0;
    position: relative;
}

.content-introduction-images-mockups{
    position: absolute;
    right: -10%;
    top: -7%;
    z-index: 1;
    max-width: 39rem;
}

.content-introduction-images-background{
    position: absolute;
    top: -39%;
    right: -33%;
    max-width: 71rem;
}

.content-introduction-text{
    max-width: 24rem;
}

.content-introduction-text-title{
    font-size: 2.85rem;
    font-weight: 300;
    color: var(--Dark-Blue);
}

.content-introduction-text-description{
    color: var(--Grayish-Blue);
    padding: 1.5rem 0;
    line-height: 24px;
    font-size: 0.95rem;
    font-family: 'Public Sans', sans-serif;
}

.content-introduction-text-button{
    color: var(--White);
    background: linear-gradient(to right,var(--Lime-Green), var(--Bright-Cyan));
    border: none;
    padding: 0.85rem 1.85rem;
    margin: 0.85rem 0;
    border-radius: 100px;
    font-size: 0.85rem;
    font-weight: 700;
    cursor: pointer; 
    font-family: 'Public Sans', sans-serif;

}

.content-introduction-text-button:hover{
    opacity: 0.7;
}

.content-benefits{
    background-color: var(--Light-Grayish-Blue);
    padding: 6rem;
}

.content-benefits-text-title{
    font-size: 2.3rem;
    font-weight: 300;
    color: var(--Dark-Blue);
    margin-bottom: 2rem;
}

.content-benefits-text-description{
    color: var(--Grayish-Blue);
    line-height: 24px;
    font-size: 0.95rem;
}

.content-benefits-row{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.content-benefits-row-column{
    margin-top: 2rem;
}

.content-benefits-row-column-image{
    width: 4rem;
    margin: 1.8rem 0;
}

.content-benefits-row-column-title{
    font-size: 1.15rem;;
    font-weight: 400;
    color: var(--Dark-Blue);
    padding-bottom: 1rem;
}

.content-benefits-row-column-description{
    color: var(--Grayish-Blue);
    line-height: 24px;
    font-size: 0.95rem;
}

.content-articles{
    background-color: var(--Very-Light-Gray);
    padding: 6rem;
}

.content-articles-title{
    font-size: 2.3rem;
    font-weight: 300;
    color: var(--Dark-Blue);
    margin-bottom: 2rem;
}

.content-articles-row{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.content-articles-row-column{
    margin-top: 2rem;
}

.content-articles-row-column-card{
    background-color: var(--White)
}

.content-articles-row-column-card-image{
    height: 10rem;
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.content-articles-row-column-card-body{
    padding: 0.5rem 1.5rem;
}

.content-articles-row-column-card-body-autor{
    color: var(--Grayish-Blue);
    font-size: 0.65rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.content-articles-row-column-card-body-title{
    color: var(--Dark-Blue);
    text-decoration: none;
    font-size: 1rem;
}

.content-articles-row-column-card-body-title:hover{
    color: var(--Lime-Green);
    text-decoration: none;
}

.content-articles-row-column-card-body-description{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    color: var(--Grayish-Blue);
    font-size: 0.85rem;
    line-height: 20px;
}


.footer{
    background-color: var(--Dark-Blue);
    color: var(--White);
    font-size: 0.85rem;
    padding: 1rem 6rem;
}

.footer-row{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer-row-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-row-main-social{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7rem;
}

.footer-row-main-social-icon{
    cursor: pointer;
}

.footer-row-main-social-icon:hover .footer-row-main-social-icon-path{
    fill: var(--Lime-Green);
}

.footer-row-column{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-row-column-link{
    color: var(--White);
}

.footer-row-column-link:hover{
    color: var(--Lime-Green);
}

.footer-row-end{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: end;
}

.footer-row-end-button{
    color: var(--White);
    background: linear-gradient(to right,var(--Lime-Green), var(--Bright-Cyan));
    border: none;
    padding: 0.85rem 1.85rem;
    margin-bottom: 0.85rem;
    border-radius: 100px;
    font-size: 0.85rem;
    font-weight: 700;
    cursor: pointer;
    width: 10rem;
    font-family: 'Public Sans', sans-serif;

}

.footer-row-end-button:hover{
    opacity: 0.7;
}

.footer-row-end-copyright{
    font-size: 0.85rem;
    color: var(--Grayish-Blue);
    margin-top: 0.6rem;
}

.footer-attribution{
    text-align: center;
    padding: 1.5rem;
}

.footer-attribution-text{
    color: var(--Grayish-Blue);
}

.footer-attribution-link{
    color: var(--White);
}

.footer-attribution-link:hover{
    color: var(--Lime-Green);
}

/* RESPONSIVO */

@media screen and (max-width: 768px) {
    .navigation-bar{
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    .navigation-bar-menu, .navigation-bar-button{
        display: none;
    }

    .navigation-bar-hamburguer{
        display: block;
    }
    .content-introduction {
        padding: 20rem 1.5rem 5rem 1.5rem;
    }

    .content-introduction-images-background {
        display: none;
    }

    .content-introduction-images-mockups {
        position: absolute;
        top: -17%;
        left: 0;
        right: 0;
        z-index: 1;
        max-width: 85%;
        margin: auto;
    }

    .content-introduction-text-title {
        font-size: 2.5rem;
        text-align: center;
    }

    .content-introduction-text-description {
        text-align: center;
    }

    .content-introduction-text-button {
        margin: 0.85rem auto;
        display: block;
    }

    .content-articles-row {
        flex-wrap: wrap;
    }

    .content-benefits {
        padding: 6rem 1.5rem;
    }

    .content-benefits-text{
        text-align: center;
    }
    
    .content-benefits-row {
        flex-wrap: wrap;
    }

    .content-benefits-row-column {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .content-articles {
        padding: 6rem 1.5rem;
    }
    

    .content-articles-title {
        text-align: center;
    }

    .content-articles-row {
        gap: 0;
    }

    .content-articles-row-column-card-image {
        height: 13rem;
    }

    .footer {
        padding: 1rem 1.5rem;
    }

    .footer-row {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .footer-row-main {
        gap: 30px;
    }

    .footer-row-column {
        text-align: center;
    }

    .footer-row-end {
        align-items: center;
    }

}